@import "modern-normalize/modern-normalize.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --primary-color: #5754f9;
    --accent-color: #f44599;
    --success-color: #20d287;
    --danger-color: #ff4259;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.custom-css-button {
    background-color: yellow;
    color: black;
}


.primary-custom-button {
    background-color: var(--primary-color);
    color: white;
    border-color: transparent;
    transition: opacity 0.3s;
}

.primary-custom-button:hover {
  opacity: 0.75;
}
